.width-120 {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}
.buttons__header {
  all: unset;
  font-family: 'Poppings', 'Times New Roman', Times, serif;
}

.radio-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

input[type='radio'] {
  display: none;
}

input[type='radio']:checked + img {
  border: 2px solid black;
}

input[type='radio']:hover + img {
  width: 130px;
  max-height: 135px;
}

.radio-wrapper > div {
  padding: 7px;
}

.profile-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
}

.wrapper-profile-img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.toast {
  top: 3px;
  right: 0;
  left: 0;
  margin: 0 auto;
}
