.width-120{
  width: 120px !important;
  max-height: 120px !important;
}
.buttons__header {
  all: unset;
  font-family: 'Poppings', 'Times New Roman', Times, serif;
}

.radio-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=radio]{
  display: none;
}

input[type=radio]:checked + img{
  border: 2px solid black;
}